<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header>
        <div>
            <a href="/">Home</a>
        </div>
        <a href="/post_new_page">
            <button>Post a blog</button>
        </a>
        
    </header>
</body>
</html>